#!/usr/bin/env bash

func p() {
    cd ~/projects/$1
}

func iv() {
    python ~/bin/iv.py ./project.clj | tee /dev/tty | tr -d  '\n' | pbcopy
}

func ivc() {
    VERSION_UPDATE=$(python ~/bin/iv.py ./project.clj | tr -d  '\n')
    git add project.clj
    git commit -m $VERSION_UPDATE
}

func gpr() {
    TARGET=$1 python ~/bin/gpr.py
}

func pc() {
    python -c "print($1)"
}

func fab-ssh() {
    ssh `fab profiles:short,${1:-staging01} | head -n 1 | cut -f 2 -d : `
}

func restart-bluetooth-audio() {
    rm ~/Library/Preferences/com.apple.preference.general.plist
    blueutil -p 0
    sleep 1
    sudo kill -9 `ps ax | grep 'coreaudio[a-z]' | awk '{print $1}'`
    sudo kill -9 `ps ax | grep 'bluetooth[a-z]' | awk '{print $1}'`
    sudo kill -9 `ps ax | grep 'bluetoothaudio[a-z]' | awk '{print $1}'`
    sleep 10
    blueutil -p 1
}

func clj-kondo() {
  docker run -v $PWD/src:/src --rm borkdude/clj-kondo clj-kondo --lint src
}

func nvm() {
  echo "🚨 NVM not loaded! Loading now..."
  unset -f nvm
  export NVM_DIR="$HOME/.nvm"
  [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
  [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
  nvm "$@"
}
