[user]
    email = v.gamula@gmail.com
    name = Volodymyr Gamula
	signingkey = F8BE8A824D216904
[alias]
    co = checkout
    st = status -sb
    ci = commit -a
    cm = commit -a -m
    com = commit -m
    df = diff
    dfc = diff --cached
    dfa = diff HEAD
[commit]
	gpgsign = true
[gpg]
	program = gpg
